@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 33.3333% 97.0588%;
    --foreground: 48 19.6078% 20%;
    --card: 48 33.3333% 97.0588%;
    --card-foreground: 60 2.5641% 7.6471%;
    --popover: 0 0% 100%;
    --popover-foreground: 50.7692 19.4030% 13.1373%;
    --primary: 15.1111 55.5556% 52.3529%;
    --primary-foreground: 0 0% 100%;
    --secondary: 46.1538 22.8070% 88.8235%;
    --secondary-foreground: 50.7692 8.4967% 30.0000%;
    --muted: 44.0000 29.4118% 90%;
    --muted-foreground: 50.0000 2.3622% 50.1961%;
    --accent: 46.1538 22.8070% 88.8235%;
    --accent-foreground: 50.7692 19.4030% 13.1373%;
    --destructive: 60 2.5641% 7.6471%;
    --destructive-foreground: 0 0% 100%;
    --border: 50 7.5000% 84.3137%;
    --input: 50.7692 7.9755% 68.0392%;
    --ring: 15.1111 55.5556% 52.3529%;
    --chart-1: 18.2813 57.1429% 43.9216%;
    --chart-2: 251.4545 84.6154% 74.5098%;
    --chart-3: 46.1538 28.2609% 81.9608%;
    --chart-4: 256.5517 49.1525% 88.4314%;
    --chart-5: 17.7778 60% 44.1176%;
    --sidebar: 51.4286 25.9259% 94.7059%;
    --sidebar-foreground: 60 2.5210% 23.3333%;
    --sidebar-primary: 15.1111 55.5556% 52.3529%;
    --sidebar-primary-foreground: 0 0% 98.4314%;
    --sidebar-accent: 46.1538 22.8070% 88.8235%;
    --sidebar-accent-foreground: 0 0% 20.3922%;
    --sidebar-border: 0 0% 92.1569%;
    --sidebar-ring: 0 0% 70.9804%;
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.5rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

.dark {
  --background: 240 26.8293% 8.0392%;
  --foreground: 240 48.7179% 92.3529%;
  --card: 240 27.7778% 14.1176%;
  --card-foreground: 240 48.7179% 92.3529%;
  --popover: 240 27.7778% 14.1176%;
  --popover-foreground: 240 48.7179% 92.3529%;
  --primary: 251.2500 100% 78.0392%;
  --primary-foreground: 240 26.8293% 8.0392%;
  --secondary: 242.8571 32.8125% 25.0980%;
  --secondary-foreground: 241.9672 100% 88.0392%;
  --muted: 240 33.3333% 20%;
  --muted-foreground: 240 20.2532% 69.0196%;
  --accent: 240 33.3333% 28.2353%;
  --accent-foreground: 240 48.7179% 92.3529%;
  --destructive: 350.1754 100% 66.4706%;
  --destructive-foreground: 0 0% 100%;
  --border: 240 26.1538% 25.4902%;
  --input: 240 26.1538% 25.4902%;
  --ring: 251.2500 100% 78.0392%;
  --chart-1: 251.2500 100% 78.0392%;
  --chart-2: 230.4878 44.0860% 63.5294%;
  --chart-3: 206.7123 89.0244% 67.8431%;
  --chart-4: 174.2857 41.8327% 50.7843%;
  --chart-5: 325.5224 100.0000% 73.7255%;
  --sidebar: 240 27.7778% 14.1176%;
  --sidebar-foreground: 240 48.7179% 92.3529%;
  --sidebar-primary: 251.2500 100% 78.0392%;
  --sidebar-primary-foreground: 240 26.8293% 8.0392%;
  --sidebar-accent: 240 33.3333% 28.2353%;
  --sidebar-accent-foreground: 240 48.7179% 92.3529%;
  --sidebar-border: 240 26.1538% 25.4902%;
  --sidebar-ring: 251.2500 100% 78.0392%;
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.12;
  --shadow-color: hsl(240 30% 25%);
  --shadow-2xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-sm: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow-md: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 2px 4px -1px hsl(240 30% 25% / 0.12);
  --shadow-lg: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 4px 6px -1px hsl(240 30% 25% / 0.12);
  --shadow-xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 8px 10px -1px hsl(240 30% 25% / 0.12);
  --shadow-2xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.30);
}
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
